<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.udc.psi14.blanco_novoa.blanco_novoalab01" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FirstActiv"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER"></category>

            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActiv"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name=".ParamActiv"
            android:label="@string/title_activity_param" >
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.CALL_PRIVILEGED" />
                <data android:scheme="tel" />me
             </intent-filter>
        </activity>
        <activity
            android:name=".ImplicitActiv"
            android:label="@string/title_activity_impicit" >
        </activity>
        <activity
            android:name=".WebActiv"
            android:label="@string/title_activity_web" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="*" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
    </application>


    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
